/****************************************************/
/*                  MAIN                            */
/****************************************************/
#main {
  margin-top : 35px;
  overflow : auto;
  display : block;
}


/****************************************************/
/*                  NAVBAR                          */
/****************************************************/
#navbar h1 {
  background : url(../img/apiculture-banner.png) right no-repeat;
  color : #d9aa37;
  font-size : 50px;
  padding : 50px;
  height : 200px;
  margin : 0;
}


/****************************************************/
/*                    MENU                          */
/****************************************************/

#navbar_menu {
  background-image:linear-gradient(to right, #d9aa37, #FFF);
}

#navbar_menu ul {
  height : 40px;
}

#navbar_menu ul li {
  line-height : 40px;
  font-size : 20px;
  border-right : 1px solid #D3D3D3;
  padding : 0 5px;
}

#navbar_menu ul li:nth-last-child(2), #navbar_menu ul li:last-child {
  border-right : none;

}

#navbar_menu .right {
  float : right;
}

#navbar_menu .right > a {
  display : inline;
}

#navbar .legend_menu {
  font-size : 20px;
  line-height : 40px;
  padding : 0 5px;

}



/****************************************************/
/*                  LOGIN                           */
/****************************************************/

#login .control-label {
  text-align : center;
}

#login .btn.btn-info, #register .btn.btn-info {
  float : right;
  margin-right : 15px;
}

#loginForm ul, #registerForm ul {
  list-style-type : none;
  text-align : center;
  color : #b94a48;
  font-size : 16px;
}


/****************************************************/
/*                  BOOTSTRAP                       */
/****************************************************/

.btn.btn-info {
  background-image : none;
  background-color : #d9aa37;
  border-color : #d9aa37;
  color : #000;
}

.navbar-nav {
  float : none;
}

.navbar .icon-bar {
  background-color : #000;
}

.navbar-toggle {
  background-color : #d9aa37;
}
.navbar-header {
  background-image:linear-gradient(to right, #d9aa37, #FFF);
}

.jumbotron {
  margin-bottom : 0;
}



/****************************************************/

/****************************************************/

#hiveid {
    display : none;
}

#list-hives {
    float : left;
    margin-right : 10px;
}



#map {
    border-left : 1px solid black;
    overflow : auto;
    padding-left : 10px;
    width : 600px;
}

#list-hives h2 {
    font-size : 1em;
}




body {
    padding-bottom: 40px;
}

@media only screen and (max-width: 605px) {
  #navbar h1 {
    color : #000;
  }
}

@media only screen and (max-width: 330px) {
  #navbar h1 {
    padding : 50px 0;
  }
