/****************************************************/
/*                  MAIN                            */
/****************************************************/
#main {
  margin-top : 0;
  overflow : auto;
  display : block;
}

#content {
  max-width : 980px;
  padding : 0;
  margin : 10px auto;
  border : 1px solid #CECECE;
  box-shadow : 0 0 15px 0 #D0D0D0;
}

#info {
  text-align : center;

}

body {
  font-family: "Helvetica";
  font-size : 16px;
}

.container {
  margin-bottom : 20px;
}




/****************************************************/
/*                  NAVBAR                          */
/****************************************************/
#navbar h1 {
  background : url(../img/apiculture-banner.png) right no-repeat;
  color : #d9aa37;
  font-size : 50px;
  padding : 50px;
  height : 170px;
  margin : 0;
}



/****************************************************/
/*                  ADD HIVE                        */
/****************************************************/
div.error.latitude, div.error.longitude {
  color: #B94A48;
  font-size: 16px;
  padding-left : 10px;
  margin-bottom : 5px;
}


/****************************************************/
/*                    MENU                          */
/****************************************************/

#navbar_menu {
  background-color : #d9aa37;
  color : #FFF;
}

#navbar_menu ul {
  height : 40px;
}

#navbar_menu ul li {
  line-height : 40px;
  font-size : 20px;
  padding : 0 5px;
}

#navbar_menu .right {
  float : right;
  line-height : 50px;
}

#navbar_menu .right > a {
  display : inline;
}

#navbar .legend_menu {
  font-size : 20px;
  line-height : 40px;
  padding : 0 5px;

}



/****************************************************/
/*                  LOGIN                           */
/****************************************************/

#login .control-label {
  text-align : center;
}

#login .btn.btn-info, #register .btn.btn-info {
  float : right;
  margin-right : 15px;
}

#loginForm ul, #registerForm ul {
  list-style-type : none;
  text-align : center;
  color : #b94a48;
  font-size : 16px;
}

a.access_denied:hover{
    color : #B94A48;
}

#login .ploginconnected {
    font-size : 16px;
    font-weight : normal;
    padding : 0 15px;
    text-align : center;
}




/****************************************************/
/*                  BOOTSTRAP                       */
/****************************************************/

.btn.btn-info {
  background-image : none;
  background-color : #d9aa37;
  border-color : #d9aa37;
  color : #000;
}

.navbar {
  box-shadow : none;
}

.navbar-nav {
  float : none;
}

.navbar .icon-bar {
  background-color : #FFF;
}

.navbar-toggle {
  background-color : #d9aa37;
}
.navbar-header {
  background-color : #d9aa37;
  color : #FFF;
  height : 40px;
}

.jumbotron {
  margin-bottom : 0;
    padding : 0;
}

.navbar-toggle {
  margin : 4px;
  padding : 8px;
  border : 1px solid #FFF;
}

a {
  color : #818DCA;
}

a:hover {
  color : #344394;
  text-decoration : none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background : none;
}

.img-circle {
    height : 200px;
    width : 200px;
}

/****************************************************/

/****************************************************/

#hiveid {
    display : none;
}

#list-hives {
    float : left;
    margin-right : 10px;
}



#map {
    border-left : 1px solid black;
    overflow : auto;
    padding-left : 10px;
    width : 600px;
}



@media only screen and (max-width: 605px) {
  #navbar h1 {
    color : #000;
  }

  #login .control-label {
    padding-left : 0;
  }
}

@media only screen and (max-width: 330px) {
  #navbar h1 {
    padding : 50px 0;
  }

#login .control-label {
    padding-left : 0;
  }
}
